@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3b82f6;
  --secondary: #1e40af;
}
body {
  font-family: "Poppins", sans-serif;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@font-face {
  font-family:"Poppins" ;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype"),
  url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dark {
  --background: #0f172a;
  --foreground: #e5e7eb;
  --primary: #60a5fa;
  --secondary: #93c5fd;
}

@custom-variant dark (&:where(.dark, .dark *));


